doctype html
html(lang='en')
 head
  title Uses
  <!-- build:<css> -->
  link(rel="stylesheet", href="../css/base.css", type="text/css")
  <!-- endbuild -->
 body
  h1 I really hope you'll find something useful here!
  div.container
   p The list spawn here, sooner or later. :D