doctype html  
html(lang='en')  
 head
   title Kiailandi uses
 body
   h1 Hi! I'm just testing my Gulp scripts <3
   div.container
     p Really hope this works.
     p To be honest there is still much work to do, but it's something.